@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Optional: Exported gradient as a CSS variable */
  --radial-bg: radial-gradient(
    60% 120% at 50% 50%,
    hsla(0, 0%, 100%, 0) 0%,
    rgba(250, 211, 238, 0.5) 100%
  );
  --mainColor:#B633CC ;
  --secColor:#C45CD6 ;
}
  

/* This is the main color */
/* #B633CC */
/* This is the secondary color */
/* #C45CD6 */

body {
  background: var(--radial-bg);
  color: var(--foreground);
}

/* Optional class to reuse gradient background */
.bg-radial-gradient {
  background-color: white;
  background-image: var(--radial-bg);
  transform: rotate(180deg);
}
.mainColor{
  background-color: var(--mainColor);
}
.mainColor:hover{
   background-color: var(--secColor);
}
.secMainColor{
  background-color: var(--secColor);
}
.textMainColor{
  color: var(--mainColor);
}
.textSecColor{
  color: var(--secColor);
}
